name: Semver Checks

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
    workflow_dispatch:

jobs:
    semver:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Check semver
              uses: obi1kenobi/cargo-semver-checks-action@v2
              with:
                  crate-name: strict-path
                  manifest-path: strict-path/Cargo.toml
